<form
  [formGroup]="registrationForm"
  class="form-container"
  (ngSubmit)="onSubmit()"
>
  <h2 class="form-title">User Registration</h2>

  <div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
      [ngClass]="{
        'is-invalid':
          registrationForm.get('title')?.invalid &&
          registrationForm.get('title')?.touched
      }"
    />
    <div
      *ngIf="
        registrationForm.get('title')?.invalid &&
        registrationForm.get('title')?.touched
      "
      class="invalid-feedback"
    >
      *Please enter a valid Title
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      [ngClass]="{
        'is-invalid':
          registrationForm.get('email')?.invalid &&
          registrationForm.get('email')?.touched
      }"
    />
    <div
      *ngIf="
        registrationForm.get('email')?.invalid &&
        registrationForm.get('email')?.touched
      "
      class="invalid-feedback"
    >
      *Please enter a valid Email
    </div>
  </div>

  <div class="form-group">
    <label for="region" class="form-label">Region</label>
    <ngx-select
      id="region"
      formControlName="region"
      [items]="regionData"
      [(ngModel)]="selectedRegion"
      [ngClass]="{
        'is-invalid': !selectedRegion && registrationForm.get('region')?.touched
      }"
    ></ngx-select>
    <div
      *ngIf="!selectedRegion && registrationForm.get('region')?.touched"
      class="invalid-feedback"
    >
      *Please select a valid Region
    </div>
  </div>

  <div class="form-group">
    <label for="country" class="form-label">Country</label>

    <ngx-select
      id="country"
      formControlName="country"
      [items]="getCountryByRegion(selectedRegion)"
      [(ngModel)]="selectedCountry"
      [ngClass]="{
        'is-invalid':
          !selectedCountry && registrationForm.get('country')?.touched
      }"
    ></ngx-select>
    <div
      *ngIf="!selectedCountry && registrationForm.get('country')?.touched"
      class="invalid-feedback"
    >
      *Please select a valid Country
    </div>
  </div>

  <!-- Repeat the above structure for other form fields -->

  <button
    type="submit"
    class="btn btn-primary center text-center"
    [disabled]="!registrationForm.valid"
  >
    Create Customer
  </button>
</form>
