<form class="container">
  <div class="">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<!-- <form
  [formGroup]="pinRegistrationForm"
  class="form-container"
  (ngSubmit)="onSubmit()"
>
  <h2 class="form-title">Pin Registration</h2>

  <div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
      [ngClass]="{
        'is-invalid':
          pinRegistrationForm.get('title')?.invalid &&
          pinRegistrationForm.get('title')?.touched
      }"
    />
    <div
      *ngIf="
        pinRegistrationForm.get('title')?.invalid &&
        pinRegistrationForm.get('title')?.touched
      "
      class="invalid-feedback"
    >
      *Please enter a valid Title
    </div>
  </div>

  <div class="form-group">
    <label for="image" class="form-label">Image</label>
    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      (onFileDrop)="onFileSelected($event)"
      class="well my-drop-zone"
    >
      Base drop zone
    </div>
    <input
      type="file"
      #fileInput
      ng2FileSelect
      [uploader]="uploader"
      (change)="onFileSelected($event)"
      (input)="pinRegistrationForm.patchValue({ image: imageUrl })"
    />
    <div
      *ngIf="
        pinRegistrationForm.get('image')?.invalid &&
        pinRegistrationForm.get('image')?.touched
      "
      class="invalid-feedback"
    >
      *Please select a valid Image
    </div>
  </div>

  <div class="form-group">
    <label for="collaboratory" class="form-label">Collaboratory</label>
    <ngx-select
      id="collaboratory"
      formControlName="collaboratory"
      [items]="collaboratory"
      [(ngModel)]="selectedCollaboratory"
      [multiple]="true"
      [ngClass]="{
        'is-invalid':
          !selectedCollaboratory &&
          pinRegistrationForm.get('collaboratory')?.touched
      }"
    ></ngx-select>
    <div
      *ngIf="
        !selectedCollaboratory &&
        pinRegistrationForm.get('collaboratory')?.touched
      "
      class="invalid-feedback"
    >
      *Please select a valid Collaboratory
    </div>
  </div>

  <div class="form-group">
    <label>Privacy:</label><br />
    <label
      ><input type="radio" formControlName="privacy" value="private" />
      Private</label
    ><br />
    <label
      ><input type="radio" formControlName="privacy" value="public" />
      Public</label
    >
  </div>
  <div
    *ngIf="
      pinRegistrationForm.get('privacy')?.invalid &&
      (pinRegistrationForm.get('privacy')?.dirty ||
        pinRegistrationForm.get('privacy')?.touched)
    "
    class="text-danger"
  >
    Please select privacy
  </div>


  <button
    type="submit"
    class="btn btn-primary center text-center"
    [disabled]="!pinRegistrationForm.valid"
  >
    Create Customer
  </button>
</form>

<button type="button" class="btn btn-primary" (click)="onSubmit()">
  upload
</button>

<p>Preview</p>

<div *ngIf="imageUrl">
  <img [src]="imageUrl" />
</div> -->
